.section{
    display: flex;
    flex-wrap: wrap;
    gap: 29px;
    margin-bottom: 150px;
}
.btnContainer{
    width: 100%;
}
.loadMore{
    margin: auto;
    display: block;
    height: 24px;
    width: 79px;
}